@tailwind base;
@tailwind components;
@tailwind utilities;

.heroButton{
  border-radius: 9999px;
  border-width: 1px;
  --tw-border-opacity:1;
  border-color: rgb(107 , 114 , 128/var(--tw-border-opacity));
  padding: 0.5rem 1rem;
  font-size: .875rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  letter-spacing: .1em;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
}